circomlib
circom
triangle_js
picknextcard_js
pot12_0000.ptau
pot12_0001.ptau
pot12_final.ptau
proof.json
public.json
triangle.r1cs
triangle_0000.zkey
triangle_0001.zkey
verification_key.json
witness.wtns
picknextcard.r1cs
picknextcard_0000.zkey
picknextcard_0001.zkey
input.json